* {
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: black;
}

nav {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    background-color: black;
}

nav li {
    display: inline;
    padding: 40px 20px;
}

nav ul {
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-family: "Cabin Condensed";
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

nav a:hover {
    border-top: 3px solid #41BDA7;
}

nav a:active {
    color: #41BDA7;
}
   
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 80px;
}

h2 {
    color: #0D879D;
    font-size: 60px;
}

h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

h4 {
    font-size: 30px;
}

p {
    font-family: Cabin;
    padding: 20px 0px;
}

.container {
    padding-top: 100px;
    text-align: center;
}

main {
    padding: 80px;
}

.color-container {
    padding: 30px;
}

.blue {
    background-color: #0D879D;
}

.green {
    background-color: #41BDA7;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.white h4, .white h5 {
    color: black;
}